.lightgrid div {
  border-right: 1px solid lightgray;
  padding: 2px 5px;
  &:last-child {
    border-right: 0px;
  }
}

.borders {
  border: 2px solid yellow;
  box-shadow: 3px 3px 3px lightgray;
  margin: 10px;
  padding: 10px;
}
