<div class="row mt-2 borders">
  <div class="col-6">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" #firstname />
  </div>
  <div class="col-6">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" #lastname />
  </div>
  <div class="col-12 d-flex justify-content-end mt-2">
    <button
      type="button"
      class="btn btn-primary"
      (click)="onNewEmployee(firstname.value, lastname.value)"
    >
      Submit
    </button>
    <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">
      Cancel
    </button>
  </div>
</div>
